.main {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.camera {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.camera video {
    width: 500px;
    height: 300px;
}

.button {
    margin-bottom: 30px;
    padding: 10px 50px;
    background: #000000;
    font-weight: bold;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
}

.button:hover {
    opacity: 0.6;
}

.results {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.results__item {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.error {
    color: red;
}